.App {
  text-align: center;
  background-color: #3b424f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1400ms ease-in-out;
  &.animate-in {
    background-color: #1d2129;
  }

  img {
    height: 62vmin;
    mask-image: url("scribble-layer.svg");
    mask-size: 0;
    mask-position: center;
    mask-repeat: no-repeat;
    transition: opacity 2900ms ease-in-out, mask-size 2900ms ease-in-out, transform 3140ms ease-in-out;
    transform: scale(2);
    opacity: 0;
    &.animate-in {
    mask-size: 100%;
    transform: scale(1);
    opacity: 1;
    }
  }

  p {
    font-family: "Bitter", serif;
    font-weight: 200;
    letter-spacing: 0.8em;
    font-size: calc(8px + 2vmin);
    color: #fff;
    opacity: 0;
    transition: opacity 2800ms ease-in-out 2330ms, letter-spacing 2110ms ease-in-out 2330ms;
    &.animate-in {
      opacity: 1;
      letter-spacing: 0.3em;
    }
  }
}
